body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: left;
  min-height: 5vh;
  background: black;
  color: white;
  z-index: 100;
}
.nav-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: left;
  list-style: none;
}

.header h1 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  align-items: left;
}
.map {
  width: 100vw;
  height: 95vh;
  position: relative;
}

.wildfire-icon {
  font-size: 2rem;
  color: red;
}
.iceberge-icon {
  font-size: 2rem;
  color: white;
}
.strome-icon {
  font-size: 2rem;
  color: #b3b3ff;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 400px;
}

.loader h3 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  min-height: 150px;
  padding-left: 25px;
  background-color: #333333;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0px;
}

.link {
  color: white;
  text-decoration: none;
}

.about {
  padding: 30px;
  height: 100vh;
  background-color: #e6e6e6;
}

.about ul {
  list-style-type: none;
  padding: 5px;
}
.about li {
  margin-bottom: 5px;
}
